@media only screen and (max-width:576px) {
    .bg-info-admin{
        flex-direction: column;
    }
}
@media only screen and (min-width:576px) and (max-width:768px) {
    .bg-info-admin{
        flex-direction: column;
      align-items: center;
    }
}
